@model Test.Models.FileUploadViewModel

@{
    ViewBag.Title = "File Upload";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @*<h2 style="background-color:#F2F4F4;color:#17202A; text-align:center; font-style:oblique">File Upload</h2>*@
        <h2 class="bg-secondary text-white text-center p-1 rounded">File Upload</h2>

        <fieldset class="rounded bg-light p-1">
            @*<legend style="font-family:Arial Black;color:blue">Upload Here</legend>*@
            <form action="" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="fileMargin" id="file " />
                <input type="submit" value="Upload" /> <br />
                @*Message display*@
                @if (ViewBag.ResultErrorMessage != null)
                {
                    <div class="alertMessage">@ViewBag.ResultErrorMessage</div>
                }
            </form>
        </fieldset>
    </div>
    <div class="col-md-3"></div>
</div>
<footer></footer>
